body {
    font-family: Arial, sans-serif;
    line-height: 1.8;
    background:#aaa;
    color:pink;
    margin: 0;
    padding: 0;
}

header {
    background:#5a5a5a;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

main {
    padding: 30px;
    background: white;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    background:#fff;
    color:gray;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
